<script context="module">
    // @ts-ignore
    export function load({ error, status }) {
        return {
            props: {
                error,
                status,
            },
        }
    }
</script>

<script lang="ts">
    import { page } from '$app/stores'
    export let error: Error
    export let status: number
</script>

{#if status === 404}
    <div class="text-center text-white">
        <span class="inline-block text-8xl mt-4 mb-8 text-white/60 tracking-[-1rem] -ml-3"
            >(·_·)</span
        >
        <h1 class="text-5xl mb-8">{status}</h1>
        <p class="mb-8">a page wan't found at {$page.url.pathname}</p>
    </div>
{:else}
    <div class="text-center text-red">
        <span class="inline-block text-8xl mt-4 mb-8 text-red/60 tracking-[-1rem] -ml-3"
            >(x_x)</span
        >
        <h1 class="text-5xl mb-8">{status}</h1>
        <p class="mb-8">{error.message}</p>
    </div>
{/if}
