<script>
    import '../app.css'
    import { page } from '$app/stores'
    import { makeSiteTitle, name, email } from '$lib/data'
    import Navigation from '$lib/components/Navigation.svelte'
    import Divider from '$lib/components/Divider.svelte'
    import EmailLink from '$lib/components/EmailLink.svelte'
    import ArrowBack from '$lib/icons/arrow-back.svg'
    import LogoIcon from '$lib/icons/logo-moon.svg'

    const goBack = () => {
        history.back()
    }

    $: pageTitle = $page.url.pathname.split('/')[1]
</script>

<svelte:head>
    <title>{makeSiteTitle(pageTitle)}</title>
</svelte:head>

<!-- only show logo on home page -->
{#if $page.url.pathname == '/'}
    <LogoIcon class="mx-auto mt-8 w-[150px] fill-purple" />
    <h1 class="text-2xl lowercase text-center font-bold mt-8">{name}</h1>
{/if}
<div class="drac-bg-black card w-96 shadow-xl mx-auto mt-8 rounded-3xl">
    <!-- only show back button on project item pages -->
    {#if $page.url.pathname.startsWith('/projects/')}
        <div class="pt-3 px-3">
            <button class="btn btn-circle btn-ghost btn-sm" on:click|preventDefault={goBack}>
                <ArrowBack class="w-6 fill-white" />
            </button>
        </div>
    {/if}
    <div class="card-body" class:pt-2={$page.url.pathname.startsWith('/projects/')}>
        <slot />
        <div class="mb-3">
            <Divider />
        </div>
        <div class="card-actions justify-between">
            <Navigation />
        </div>
    </div>
</div>
<EmailLink {email} />
