<script lang="ts">
    import { things } from '$lib/data'
</script>

<div class="pt-4">
    <div class="mb-8 mx-4">
        {#each things as thing}
            <span class="mb-1 block">{thing}</span>
        {/each}
    </div>
</div>
