<script lang="ts">
    import Avatar from '$lib/components/Avatar.svelte'
    import Divider from '$lib/components/Divider.svelte'
    import { badges } from '$lib/badges'
</script>

<h1 class="text-2xl text-center font-bold">Hi there, I'm Cory 👋</h1>
<div class="items-center pt-4">
    <div class="mb-8">
        <Avatar
            name="Cory Moon"
            src="https://gitlab.com/uploads/-/system/user/avatar/11971420/avatar.png?width=150"
        />
    </div>
    <div class="mt-4">
        <p class="mb-4">
            🔭 I’m currently working on <a
                class="drac-text-purple drac-text-pink--hover"
                href="https://petstat.app">petstat</a
            > (a doggy app for humans), as well as a BS in Computer Science, and planning a wedding.
        </p>
        <p class="mb-4">
            🌱 I'm currently learning C++, Go, Dart/Flutter, and speed solving a Rubik's Cube.
        </p>
        <p class="mb-8">💬 Ask me about my poodles 🐩</p>
    </div>
    <Divider />
    <div class="text-center mb-4">
        <h2 class="text-md font-bold my-8">I really love using this stuff</h2>
        {#each badges as { link, img, alt }}
            <a href={link} class="inline-block mx-1 mb-1">
                <img src={img} {alt} />
            </a>
        {/each}
    </div>
</div>
