<script lang="ts">
    import type { Project } from '$lib/types'
    import { projectUrlLinkClasses, projectRepoLinkClasses } from '$lib/classes'
    import { makeSiteTitle } from '$lib/data'
    import { techColor } from '$lib/helpers'
    import Divider from '$lib/components/Divider.svelte'
    import SvelteMarkdown from 'svelte-markdown'
    import Lazy from 'svelte-lazy'

    export let project: Project
</script>

<svelte:head>
    <title>{makeSiteTitle(project.name.toLowerCase())}</title>
</svelte:head>

<Lazy
    class="rounded-3xl mb-3 border-white border-2 h-[162px] overflow-hidden"
    height={162}
    fadeOption={{ delay: 100, duration: 500 }}
>
    <img src={project.image} alt={`image for ${project.name}`} />
</Lazy>
<h1 class="text-2xl text-center font-bold mb-3">{project.name.toLowerCase()}</h1>
<div class="flex flex-row justify-between py-2">
    <a class={projectUrlLinkClasses} href={project.url}>external site</a>
    {#if project.repo}
        <a class={projectRepoLinkClasses} href={project.repo}>project repo</a>
    {/if}
</div>
<Divider class="mb-4" />
<div class="drac-text drac-text-white">
    {project.description.toLowerCase()}
</div>
<div>
    {#if project.content !== ''}
        <!-- <Divider class="my-4" /> -->
        <div class="page-content my-4">
            <SvelteMarkdown source={project.content} />
        </div>
    {/if}
</div>
<div class="flex flex-wrap justify-center py-4">
    {#each project.tech as t}
        <span
            class="inline-block px-2 rounded-full text-sm mx-1 my-1"
            style="background-color: {techColor(t)}">{t}</span
        >
    {/each}
</div>

<style lang="postcss" global>
    .page-content h1,
    .page-content h2,
    .page-content h3,
    .page-content h4,
    .page-content h5 {
        @apply text-xl font-semibold;
    }

    .page-content p {
        @apply leading-6 mb-4;
    }

    .page-content hr {
        @apply border-purple mt-4 pb-6;
    }

    .page-content a {
        @apply underline decoration-pink decoration-2 hover:decoration-pink/70 transition-colors;
    }

    .page-content ul {
        @apply list-disc list-inside mb-4;
    }

    .page-content blockquote {
        @apply border-l-4 border-purple px-4 py-2 my-2 text-white/70;
    }
</style>
