<script lang="ts">
    import ProjectItem from '$lib/components/ProjectItem.svelte'
    import { makeSiteTitle } from '$lib/data'
    import type { Project } from '$lib/types'
    export let projects: Project[]
</script>

<svelte:head>
    <title>{makeSiteTitle('projects')}</title>
</svelte:head>

<h1 class="text-2xl text-center font-bold">projects</h1>
<div class="items-center pt-4 flex flex-col">
    {#each projects as project}
        {#if project.status === 'Published'}
            <ProjectItem {project} />
        {/if}
    {/each}
</div>
<h2 class="text-lg text-center text-white/80">personal projects</h2>
<div class="items-center pt-4 flex flex-col">
    {#each projects as project}
        {#if project.status === 'Personal'}
            <ProjectItem {project} />
        {/if}
    {/each}
</div>
<h2 class="text-lg text-center text-white/80">in progress...</h2>
<div class="items-center pt-4 flex flex-col">
    {#each projects as project}
        {#if project.status === 'In progress'}
            <ProjectItem {project} />
        {/if}
    {/each}
</div>
