@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import "./styles/dracula-ui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #282A36;
}

.btn {
	@apply rounded-full;
}
