<script lang="ts">
    export let name: string
    export let src: string | undefined = undefined
    export let color: string = 'purple'
    export let size = 150

    let avatarClasses: string = `mx-auto drac-avatar drac-bg-${color}-transparent drac-text-${color} drac-avatar-lg-stroke drac-mb-sm drac-border-${color}`

    const backgroundStyle = () => {
        if (src == undefined) {
            return `height: ${size}px; width: ${size}px;`
        } else {
            return `background-image: url(${src}); background-size: cover; height: ${size}px; width: ${size}px;`
        }
    }
</script>

{#if src == undefined}
    <span class={avatarClasses} style={backgroundStyle()}>{name}</span>
{:else}
    <span class={avatarClasses} style={backgroundStyle()} />
{/if}
