<script lang="ts">
    export let email: string

    export let mainColor: string = 'purple'
    export let hoverColor: string = 'pink'
</script>

<p class="text-center my-8">
    send me an email? <a
        class="drac-text-{mainColor} drac-text-{hoverColor}--hover"
        href="mailto:{email}">right here</a
    >
</p>
