<script lang="ts">
    import { page } from '$app/stores'
    import { navItems } from '$lib/navItems'
</script>

{#each navItems as { href, label }}
    <a
        class="mx-3 drac-text-purple-cyan--hover lowercase underline"
        class:drac-text-yellow-pink={$page.url.pathname == href}
        {href}
    >
        {label}
    </a>
{/each}
