<script lang="ts">
    import type { Project } from '$lib/types'
    import Lazy from 'svelte-lazy'

    export let project: Project
</script>

<a href="/projects/{project.id}" title="details for {project.name.toLowerCase()}">
    <div
        class="project-item-container rounded-3xl text-lg font-bold lowercase border-purple border-2 hover:border-pink mb-6 max-h-[55px] overflow-hidden"
    >
        <div class="w-full absolute bg-gradient-to-b from-black/60 to-black/80 z-10 h-full" />
        <div style="min-width: 320px">
            <Lazy class="-z-10" height={160} fadeOption={{delay: 100, duration: 500}}>
                <img src={project.image} alt={`image for ${project.name}`} />
            </Lazy>
        </div>
        <div class="project-item-link z-20">
            {project.name}
        </div>
    </div>
</a>

<style>
    .project-item-container {
        position: relative;
        text-align: center;
    }

    .project-item-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
</style>
